#inside docker container (jenkins) 
alembic==1.12.0
bcrypt==4.0.1
blinker==1.6.3
click==8.1.7
colorama==0.4.6
distlib==0.3.7
filelock==3.12.4
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-Testing==0.8.1
Flask-WTF==1.2.1
greenlet==3.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.3
Pillow==10.1.0
platformdirs==3.10.0
python-dotenv==1.0.0
SQLAlchemy==2.0.22
typing_extensions==4.8.0
virtualenv==20.24.5
Werkzeug
WTForms==3.1.0


