{% extends "customerBase.html" %}
{% block title %}Login{% endblock %}

{% block content%}
<h1>Login</h1>
<form method="POST">
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            title="Please enter a valid email address."
        />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
            required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}" <!-- Complex password pattern -->
            title="Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character."
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
    <p>Forgot your password? <a href="{{ url_for('views.request_password_reset') }}">Reset Password</a></p>
</form>
{% endblock %}
