{% extends 'customerBase.html' %} 
{% block title %}Accounts Management{% endblock %} 

{% block content %}

<br>
<h1>Staff Details</h1>
<br>

{% if valid == 0%}
{% endif %}

{% if valid == 1%}
<div>
    <table class="table">
        <tr>
            <th>Staff Email: </th>
            <th>Name </th>
            <th>Account Enabled? </th>
            <th></th>
        </tr>

        {% for user in users %}
        {% for staff in staff %}
        {% if user.email_address == staff.email_address%}
        <tr>
            <!-- Ensure the email_address, name, and account_status are properly escaped to prevent XSS -->
            <td>{{ staff.email_address | e }}</td>
            <td>{{ staff.name | e }}</td>
            <td>{{ user.account_status | e }}</td>
            <td>
                <!-- Ensure the URL is properly constructed to prevent XSS -->

                <a class="btn btn-primary" href="{{ url_for('views.view_staff', staff_id=user.id) }}" > More info </a>

            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}

    </table>
</div>
{% endif %}

<a role="button" href="{{ url_for('auth.create_staff') }}" > Create New Staff Account </a>

{% endblock %}