{% extends 'customerBase.html' %} 
{% block title %}Staff Management {% endblock %} 

{% block content %}




<div class="container">
    {% if valid == 0 %}
    <br>
    <h1>Invalid Staff Parameters</h1>
    <br>
    <a role="button" href= "/staffaccounts" >Return to previous page</button>
    {% endif %}

    {% if valid == 1 %}
    <br>
    <h1>Information for: {{staff.name}}</h1>

    

    <table class="table" style="width:100%">
        
        <tr>
            <td>Staff Email: </td>
            <td>{{staff.email_address}}</td>
        </tr>

        <tr>
            <td>Staff Name: </td>
            <td>{{staff.name}}</td>
        </tr>

        <tr>
            <td>Account Status: </td>
            <td>{{staffinfo.account_status}}</td>
        </tr>
    
    </table>

    <div class="col-6">
        <a class="button" href="/staffdisable/{{staff.email_address}}">
            {% if staffinfo.account_status == true %}
            Deactivate account
            {% else %}
            Activate account
            {%endif%}
        </button>
    </div>
    <div class="col-6">
        <a class="button" href= "/staffaccounts">Return to previous page</button>
    </div>
    <br>
    {%endif%}
</div>


{% endblock %}

