{% extends 'customerBase.html' %} 
{% block title %}Logs Management{% endblock %} 

{% block content %}
<br>
<h1>Logs</h1>
<br>
<div>
    <table class="table" style="width:100%">
        <tr>
            <th>ID </th>
            <th>Level </th>
            <th>Type </th>
            <th>Entity </th>
            <th>Time </th>
            <th></th>
        </tr>

        {% for log in logs %}
        <tr>
            <td>{{ log.log_id }}</td>
            <td>{{ log.log_level }}</td>
            <td>{{ log.log_type }}</td>
            <td>{{ log.entity }}</td>
            <td>{{ log.log_time }}</td>
            <td>
                <!-- Ensure that log_id is properly escaped or validated if part of the URL -->
                <a class="btn btn-primary" href="/logs/{{ log.log_id | e }}" > More info </a>
            </td>
        </tr>
        {% endfor %}

    </table>

    <Button class="btn btn-primary btnExport"> Export Logs </Button>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</div>
{% endblock %}
